.App {
  text-align: center;
  padding: 20px;
}

.Link {
  text-decoration: none;
}

.Header {
  text-align: center;
  padding: 50px;
}

.navbarUser {
  text-align: right;
  font-size: 20px;
  padding-right: 10px;
}

.userInfo {
  text-align: center;
}

.articleCard {
  text-align: center;
  padding: 10px;
  border: black solid 2px;
}

.article {
  padding: 10px;
}

.topicArticles {
  padding: 10px;
  border: black solid 2px;
  margin: 10px;
}

.topicBttn {
  margin-left: 10px;
}

.topicSlugs {
  margin: 10px;
  padding: 5px;
  border: black solid 2px;
  text-align: center;
}
