.App {
  text-align: center;
  padding: 20px;
}

.bc {
  background-color: #9fbff5;
}

.hc {
  color: #5985d0;
}

.Link {
  text-decoration: none;
}
.loginlink {
  text-decoration: none;
  color: black;
}
.topicSlugs {
  margin: 25px;
  padding: 10px;
  border: black solid 2px;
  text-align: center;
  font-size: 20px;
  border: lightgrey 5px solid;
  border-radius: 25px;
  color: black;
}

.topicList {
  max-width: 50%;
  margin: auto;
}

.gb {
  border: lightgray 2px solid;
  border-radius: 5px;
  background-color: #bbd3fb;
}
.greyBorder {
  background-color: rgb(233, 232, 232);
}

.postbttn {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 3px 20px;
  border-radius: 5px;
  border: black 2px solid;
  background-color: #bbd3fb;
}
.deletebttn {
  padding: 3px 20px;
  border-radius: 5px;
  border: black 2px solid;
  background-color: #bbd3fb;
}
.counter {
  padding: 5px;
}
.navNames {
  font-size: 18px;
}

.votebttn {
  padding: 1.5px 8px;
  border-radius: 5px;
  border: black 2px solid;
  background-color: #bbd3fb;
}

.loginBttn {
  padding: 1.5px 8px;
  border-radius: 5px;
  border: black 2px solid;
  background-color: #bbd3fb;
}
.label {
  margin: 8px;
  font-size: 15px;
}
.optionBox {
  margin-left: 8px;
  border-radius: 10px;
}

@media screen and (min-width: 30em) {
  .mw6-ns {
    max-width: 64rem;
  }
  .f5-ns {
    font-size: 4rem;
  }
  .pa4-ns {
    padding: 2rem;
  }
  .pa3 {
    max-width: fit-content;
  }
  .f6 {
    font-size: 1.5rem;
  }
  .f4 {
    font-size: 2rem;
  }
  .mv1 {
    margin: 2rem;
  }
  .topicSlugs {
    font-size: 30px;
  }
  .label {
    font-size: 25px;
  }
  .navNames {
    font-size: 25px;
  }
}
